@import 'tailwindcss';

@theme {
  --color-secondary: #444857;

  --animate-popup: popup-in 0.3s;

  @keyframes popup-in {
    from {
      opacity: 0;
      transform: scale(0.9);
    }

    to {
      opacity: 1;
      transform: scale(1);
    }
  }
}
