@import 'tailwindcss/components';

@layer components {
  .btn {
    @apply 
    rounded-md
    justify-center
    items-center
    p-2
    flex
    text-xs
    cursor-pointer
  }

  .btn_base {
    @apply
    text-white
    bg-gray-600
    hover:brightness-125;
  }

  .btn_yellow {
    @apply
    text-white
    bg-yellow-400/80
    hover:brightness-105;
  }

  .btn_select {
    @apply
    text-white
    bg-gray-700/50
    text-xs
    px-3
    py-2
    cursor-pointer
    hover:brightness-125;
    &-active {
      @apply bg-gray-600
    }
  }
}